* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Gilroy', sans-serif; 
}
   
html,body {
    height: 100%;
    width: 100%;
}

#nav{
   
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 20px 50px;
    position: fixed;
}

#nav-right{
    display: flex;
    gap: 50px;
}

#page1{
    height: 100%;
    width: 100%;
}

#page2{
    height: 100%;
    width: 100%;
}